/* Header */

.navbar {
    background-color: rgb(0, 8, 69) !important;
}

.navbar .nav-item i, .container-fluid .bi.bi-house-fill {
    color: rgb(255, 255, 255) !important;
    font-style: normal;
    padding: 10px;
}

.navbar-toggler, .logout {
    background-color: rgb(0, 55, 165) !important;
}

.logout {
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    color: rgb(255, 255, 255);
    padding: 8px;
    transition: 0.3s;
}

.nav-link i {
    transition: 0.3s;
}

.nav-link i:hover {
    color: rgb(150, 184, 228) !important;
    transition: 0.3s;
}

.router-link-active.router-link-exact-active.nav-link .bi {
    color: rgb(150, 184, 228) !important;
}

.logout:hover {
    background-color: rgb(78, 84, 96) !important;
    transition: 0.3s;
}

.container-fluid .bi.bi-house-fill {
    font-size: 20px;
}