/* Scrollbar */

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: rgb(150, 184, 228);
    border-radius: 1em;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 55, 165);
    border-radius: 1em;
}