/* Tabs für Team-Seite */

.nav.nav-pills.nav-justified.mb-3 {
    padding-top: 20px;
}

.nav-pills .nav-link {
    background-color: rgb(0, 8, 69) !important;
    border-radius: 0 !important;
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.nav-pills .nav-link:hover {
    color: rgb(145, 155, 176);
    transition: 0.2s;
}

.nav-pills .nav-link.active {
    background-color: rgb(78, 84, 96) !important;
}